body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.btn-transparent {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 12px;
  text-decoration: unset;
  color: black;
}

.blue-box {
  background: rgb(101, 167, 227);
  height: 300px;
  border-radius: 12px;
  width: calc(50% - 8px);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
}

.blue-box-button {
  background: white;
  border: none;
  min-height: 50px;
  border-radius: 8px;
  color: rgb(50, 118, 181);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
}

.blue-box-button a {
  text-decoration: unset;
  color: rgb(50, 118, 181) !important;
}

.lg-box {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  background: rgb(99, 167, 227);
  border-radius: 12px;
  padding: 8px;
}

@media screen and (max-width: 600px) {
  .lg-box {
    width: 100vw;
  }
}
